/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.link-container, .header {
  display: flex;
  background-color: aliceblue;
}

.header {
  justify-content: space-between;
}

.link {
  margin: 10px;
}

.data-category-header, .data-category-body, .data-date-header, .data-date-body, .data-vendor-header, .data-vendor-body, .data-card-header, .data-card-body{
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(100px, 1fr);
  justify-items: start;
}

.data-detail-header, .data-detail-row {
  display: grid;
  grid-template-columns: minmax(50px, 150px) minmax(50px, 150px) minmax(50px, 150px) minmax(50px, 300px) minmax(50px, 200px) minmax(50px, 150px) 50px;
  justify-items: start;
}

.data-header {
  font-size: 18px;
  font-weight: 700;
}

.data-visualization {
  display: flex;
}

#sticky {
  position: sticky;
}