* {
  margin: 0;
  padding: 0;
}

.link-container, .header {
  display: flex;
  background-color: rgb(150, 206, 255);
}

.header {
  justify-content: space-between;
}

.link {
  margin: 10px;
}

.data-overview-header {
  background-color: rgb(204, 231, 255);
}

.data-overview-header, .data-overview-body{
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(100px, 1fr);
  justify-items: start;
}

.data-detail-header {
  position: sticky;
  top: 0px;
  background-color: rgb(204, 231, 255);
}

.data-detail-header, .data-detail-row {
  display: grid;
  grid-template-columns: minmax(50px, 150px) minmax(50px, 150px) minmax(50px, 150px) minmax(50px, 300px) minmax(50px, 200px) minmax(50px, 150px) 50px;
  justify-items: start;
}

.data-header {
  font-size: 18px;
  font-weight: 700;
}

.data-visualization {
  display: flex;
}